.table_wrapper {
    display: flex;
    justify-content: center;
}

.table_wrapper table {
    border-spacing: 0px;
    border-collapse: collapse;
}

.cell {
    height: 20px;
    width: 40px;
    border: 1px solid black;
}
.cellSum {
    background: #b3d9ff;
}
.cellAverage {
    background: #ccffe6;
}